{
    auto_https off
    admin 0.0.0.0:2019
}

http://localhost {
    # Forward all /api/* calls to Spring Boot
    handle /api/* {
        @oauth path_regexp oauth ^/api(?P<suffix>(?:/oauth2/|/login/oauth2/).*)$
        rewrite @oauth {re.oauth.suffix}
        reverse_proxy api:8080
    }
    
    # Forward everything else to Vite dev server
    handle * {
        reverse_proxy client:5173
    }
}
